/* style.css */

:root {
    --primary-bg: #080822;
    /* Dark Blue/Purple */
    --text-color: rgb(224, 224, 224, 0.96);
    /* Light Gray */
    --heading-color: #ffffff;
    /* White */
    --border-color: #2e3a59;
    /* Darker border */
    --shadow-color: rgba(0, 0, 0, 0.3);

    --text-size: 1vw;
}

h1,
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: var(--text-size);
}

h1 {
    color: var(--heading-color);
    font-size: calc(var(--text-size) + 1vw);
}

.temp {
    color: var(--heading-color);
    font-size: calc(var(--text-size) + 2vw);
    font-weight: 900;
}


p {
    font-weight: 550;
    color: var(--text-color);
}

body {
    background-color: var(--primary-bg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.weather-icon {
    width: 4vw;
    height: 5vh;
}

.weather-dashboard {
    background-color: rgba(0, 10, 65, 0.9);
    /* Semi-transparent dark background */
    border-radius: 15px;
    box-shadow: 0 10px 30px var(--shadow-color);
    padding: 40px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.search-bar {
    width: 70%;
    background-color: #080822;
    border: 0px solid black;
    border-radius: 12px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 10px 30px var(--shadow-color);

    transition: all 0.3s ease 0;

}

.search-bar::placeholder {
    color: #e0e0e0;
    opacity: 0.2;
}

.search-bar:focus {
    outline: none;
    border: 2px solid rgb(0, 85, 124);
}

.info-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info {
    margin-top: 3vh;
    display: flex;
    gap: 1vw;
}

.details {
    padding: 50px;
    border-left: 1.5px solid rgb(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
}

.details-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-info {
    margin: auto;
}

.info .weather-icon {
    margin: auto;
}



.forecast-wrapper {

    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.forecast-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;

}


.forecast-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;

    box-shadow: 0 10px 30px var(--shadow-color);
    border: 0.0px solid rgb(175, 175, 175);
    border-radius: 12px;
}

.forecast-title {
    text-shadow: 0 100px 300px var(--shadow-color);
}